# Ignorar arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Ignorar dependências de Node.js
node_modules/

# Ignorar arquivos de build
dist/
build/

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar variáveis de ambiente
.env
